.content
  .title
    span
      |Clientes
  .content-box
    .menu-bar
      .align-right
        a(ui-sref="newService")
          |Agregar Nuevo
    table.pure-table.pure-table-horizontal.center
      thead
        tr
          th
            |Nombre
          th
            |Descripcion
          th
            |Precio
          th
            |Accciones
      tbody
        tr(data-ng-repeat="item in services.list")
          td
            |{{item.name}}
          td
            |{{item.description}}
          td
            |{{item.price}}
          td
            a( ui-sref="service({objectId:item.objectId})" )
              |editar