h1
  |Contacto
form(class="pure-form pure-form-aligned")
  fieldset
    div(class="pure-control-group")
      label(for="name")
        |Nombre
      input(id="name",type="text",placeholder="Nombre del Cliente", data-ng-model="client.contact.name")
    div(class="pure-control-group")
      label(for="Apellido")
        |Apellido
      input(id="lastname",type="text",placeholder="Apellido", data-ng-model="client.contact.lastname")
    div(class="pure-control-group")
      label(for="Apellido Materno")
        |Apellido Materno
      input(id="surname",type="text",placeholder="Apellido Materno", data-ng-model="client.contact.surname")
    div(class="pure-control-group")
      label(for="phone")
        |Telefono
      input(id="phone",type="text",placeholder="Telefono", data-ng-model="client.contact.phone")
    div(class="pure-control-group")
      label(for="mobile")
        |Movil
      input(id="mobile",type="text",placeholder="Telefono Movil", data-ng-model="client.contact.mobile")
    div(class="pure-control-group")
      label(for="email")
        |Email
      input(id="email",type="text",placeholder="Telefono", data-ng-model="client.contact.email")
a(data-ng-click="client.addContact()")
  |Agregar
ul
  li(data-ng-repeat="item in client.info.contacts track by item.objectId")
    |{{item.name}}
    a(data-ng-click="client.removeService($index)")
      |Eliminar