a(ui-sref="clients")
  |Regresar
h1
  |FORM
form(class="pure-form pure-form-aligned")
  fieldset
    div(class="pure-control-group")
      label(for="name")
        |Nombre
      input(id="name",type="text",placeholder="Nombre del Cliente", data-ng-model="client.info.name")
    div(class="pure-control-group")
      label(for="RFC")
        |RFC
      input(id="rfc",type="text",placeholder="RFC", data-ng-model="client.info.rfc")

h1
  |Servicios
div(class="pure-control-group")
  label(for="RFC")
    |Agregar Servicios
  select(ng-options="item.name for item in client.services" ng-model="client.service")
  a(data-ng-click="client.addService()")
    |Agregar 
  ul
    li(data-ng-repeat="item in client.info.services track by item.objectId")
      |{{item.name}}
      a(data-ng-click="client.removeService($index)")
        |Eliminar
div(data-ng-include="'app/contact/contact.template.html'")

div(class="pure-controls")
  button(,class="pure-button pure-button-primary", data-ng-click="client.update()")
    |Guardar
button(data-ng-click="client.delete()")
  |Borrar