table
  tr
    th
      |Nombre
    th
      |RFC
    th
      |Accciones
  tr(data-ng-repeat="item in clients.list")
    td
      |{{item.name}}
    td
      |{{item.rfc}}
    td
      a( ui-sref="client({objectId:item.objectId})" )
        |editar