a(ui-sref="clients")
  |Regresar
h1
  |FORM
form(class="pure-form pure-form-aligned", data-ng-submit="client.update()")
  fieldset
    div(class="pure-control-group")
      label(for="name")
        |Nombre
      input(id="name",type="text",placeholder="Nombre del Cliente", data-ng-model="client.info.name")
    div(class="pure-control-group")
      label(for="RFC")
        |RFC
      input(id="rfc",type="text",placeholder="RFC", data-ng-model="client.info.rfc")
    div(class="pure-controls")
      button(type="submit",class="pure-button pure-button-primary")
        |Submit

button(data-ng-click="client.delete()")
  |Borrar