@import 'colors';

body
  margin: 0 
  padding: 0


.content
  width: 80%
  margin: 0 auto

.content-box
  padding: 0.5rem
  border: solid 1px $dividers-black


.title
  background-color: $primary-color
  color: $text-primary-white
  padding: 0.5rem
  span
    font-size: 2rem

.menu-bar
  padding: 0.5rem

.align-right
  text-align: right

.center
  margin: 0 auto
